


nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;


}

nav img{
    width: 2rem;
}

.main-cont{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5rem;
    margin-bottom: 5rem;
    
    
}



.img-cont{
   /* width: 500px;
    height: 500px;
    position: relative;
    overflow:hidden;
    margin-top: 5rem;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px #5e5d5d);*/


    width: 35rem;
    height: 30rem;
    position: relative;
    overflow:hidden;
    margin-top: 5rem;
   /* border-radius: 50%; */
    filter: drop-shadow(5px 5px 5px #5e5d5d);
    

}

.single-img-div{
    display: none;
    width: 100%;
       
}

.single-img-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}



.single-img-div.active{
    display: inline;
    height: 100%;
    width: auto;
    animation: slide-out;
    animation-duration: 3s;
      
    
}

@keyframes slide-out {
    0% {
        transform: translateX(50%);
        opacity: 0.5;
      }
    100%  {
        transform: translateX(0);
        transition: 0.5s ease-in;
        opacity: 1;
      }
    
    }

.text-cont{
   margin-right: 15rem;
   margin-top: 30rem;
   
}




.link{
    width: 25rem;
    display: none;
    border-bottom-style: solid;
    border-color: #5f46ffbe;
   

}

.link h3{
    padding-left: 1rem;
    font-size: 25px;
    color: rgb(44, 44, 44);
}

.link.active{
    display: flex;
    animation: slide-left;
    animation-duration: 2s;
    
    
}

@keyframes slide-left {
    0% {
        transform: translateX(-50%);
        opacity: 0;
      }
    100%  {
        transform: translateX(0);
        transition: 1s ease-in;
        opacity: 1;
      }
    
    }

.circle-box{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}

.small-circle img{
    width: 1rem;
    padding-left: 1.5rem;
    
}

.small-circle.active img{
    width: 1.2rem;
    
}



.arrow{
    display: block;
    position: absolute;
    width: 2.5rem;
    margin-left: 30rem;
    margin-top: 3rem;

   
}

a{
    text-decoration: none;
}





@media(max-width: 1300px){

   

    /*body{
        width: 1000px;
        overflow-x: hidden;
    }*/
 
    nav{
        width: 95%;
    }
 
    .main-cont{
        width: 100%;
    }
 
    .single-img-div{
     display: none;
     width: 25rem;
     height: 25rem;
        
 }
 
 
 .single-img-div.active{
     display: inline;
     height: 25rem;
     width: 25rem;
     animation: slide-out;
     animation-duration: 3s;
 }
 
 .img-cont{
         width: 25rem;
         height: 20rem;
         position: relative;
         overflow:hidden;
         margin-top: 5rem;
         margin-right: 5rem;
         filter: drop-shadow(5px 5px 5px #5e5d5d);
         
       
     
     }
     .single-img-div img{
         width: 100%;
         height: 100%;
         object-fit: contain;
         
     }
     
 
 
     .text-cont{
         margin-right: 1rem;
         margin-top: 25rem;
         
      }
 
 }
 
 
 @media(max-width: 900px){
 
     body{
         max-width: 800px;
     }
 
     .main-cont{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
 
     .text-cont{
         margin-top: 3rem;
         margin-right: 5rem;
     }
 
     nav{
         width: 80%;
     }
 
 }


 @media(max-width: 600px){

    .img-cont{
        margin-left: 4rem;
    }

    .link{
        width: 15rem;
        display: none;
        border-bottom-style: solid;
        border-color: #5f46ffbe;
        cursor: pointer;
       
    
    }
    
    .link h3{
        padding-left: 1rem;
        font-size: 22px;
        color: rgb(44, 44, 44);
    }

    .arrow{
        display: block;
        position: absolute;
        width: 1.7rem;
        margin-left: 17rem;
        margin-top: 3rem;
    
       
    }

}

