

nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;


}

nav img{
    width: 2rem;
}


.main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cont{
    margin-top: 5rem;
    width: 70%;
    text-align: center;
    
    
}


.cont img{
    width: 80%;
    opacity: 0.8;
    margin-bottom: 5rem;
    box-shadow: 5px 10px 10px #888888;
    
    
    
}

.header{
    position: absolute;
    width: 25rem;
    

}



.header button{
    width: 7rem;
    padding:0.5rem;
    margin-top: 2rem;
    background-color: rgb(91, 38, 151);
    border-style: none;
    box-shadow: 5px 4px 10px #888888;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;



}

.h-left{
    top: 37rem;
    left: 20rem;
    padding-top: 1rem;
    color: rgb(7, 7, 7);
    
}

.h-right{
    top: 85rem;
    left: 55rem;
    padding-top: 1rem;
    color: rgb(7, 7, 7);
}

h2{
    font-size: 2rem;
}


