


body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-left: 2rem;
/*  overflow-x: hidden;*/
  
  
}

p{
    font-size: 20px;
    color: #0f0928;
}


nav{
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 0;
}



.menu-wrap{
    margin-right: 1.5rem;
    display: flex;
    justify-content: end;
    position: absolute;
}

.menu-wrap .hamburger > div {
    position: absolute;
    width: 2rem;
    height: 2px;
    background: rgb(223, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 1;
    right: 20px;
    top: 20px
    
    
    
  }

.menu-wrap .menu{
    visibility: hidden;
    
}

.menu-wrap .toggler {
    position: absolute;
    top: -25;
    right: -20;
    z-index: 4;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

}
  



.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
   /* background-image: linear-gradient(transparent,rgba(66, 162, 181, 0.288), transparent );
  /*  background-color: rgba(63, 137, 197, 0.288);*/
    border-left-style: solid;
    border-color: rgba(63, 137, 197, 0.541);
    animation-name: color;
    animation-duration: 0.5s;
    position: absolute;
    height: 40rem;
    width: 8rem;
    padding: 10px;
    left:-90px;
    z-index: 3;
    margin-top: 5rem;
    
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 1s;
  }

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*.menu-wrap.active{
    background-color: turquoise;
    animation-name: color;
    animation-duration: 0.5s;
}*/

@keyframes color{
    0% {
        opacity: 0;
        transform: translateX(50%);
        
        

      }
    100%  {
        opacity: 1;
        transform: translateX(0);
        
        
      }
    
    }


.menu ul{
    list-style: none;
}

.menu li{
    font-size: 23px;
    margin-bottom: 1rem;
    margin-right: 1.75rem;
    
    
    
}

a{
    text-decoration: none;
    color:rgb(83, 83, 83);
     
}

.menu > div{
    display: flex;
    justify-content: center;
    margin-right: 1.7rem;
}

.frontpage-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    margin-top: 5rem;
    margin-right: 10rem;
}

.frontpage-img-cont{
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.frontpage-img-cont img{
     
    width: 27rem;
}


.H1-cont{
    margin-top: 4rem;
    margin-right: 5rem;
}

.frontpage-text-cont h1{
    font-family: 'EB Garamond', serif;
    font-size: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-clip: inherit;
    background: -webkit-linear-gradient(rgba(227, 236, 250, 0.918),#8496d1bd, rgba(97, 24, 146, 0.822), rgb(19, 17, 24));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;


    /*
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;*/
}
.frontpage-text-cont h3{
    display: none;
    font-family: 'Alex Brush', cursive;
    font-size: 3rem;
    text-align: center;
    color: rgb(83, 83, 83);
}

.frontpage-text-cont h3.active{
    display: block;
}

#about-me{
    margin-top: 5rem;
    margin-left: 5rem;
    width: 30rem;
    border-left-style: solid;
    padding: 2rem;
    border-color: #5f46ffbe;
    color: rgba(146, 145, 145, 0.795);
    font-size: 30px;
    font-weight: 400;
}

.design-cont{
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-bottom: 30rem;
}

#streaming-img-cont img{
    position:relative;
    width: 50%;
    margin-left: 35rem;
   

}


#kahoot-img-cont img{
    display: block;
    
    width: 100%;
    height: 100%;
    
    margin-left: 5rem;
   
    
   
}

#streaming-img-cont{
    transform: translateX(0);
}


#kahoot-img-cont{
    position: absolute;
    top: 80rem;
    left: 15rem;
    width: 20rem;
    filter: drop-shadow(3px 4px 4px #aeaeb5);
  
    
}

.a-right{
    animation-name:right;
    animation-duration: 2s;
    transition: 3s ease-in;
    
}

@keyframes right{
    0% {
        opacity: 0;
        transform: translateX(-50%);
        

      }
    100%  {
        opacity: 1;
        transform: translateX(0);
        
      }
    
    }





.a-left {
    animation-name: left;
    animation-duration: 2s;
    transition: 3s ease-in;
    
}

@keyframes left{
    0% {
        opacity: 0;
        transform: translateX(50%);
        

      }
    100%  {
        opacity: 1;
        transform: translateX(0);
        
      }
    
    }

.title-cont{
    display: flex;
    margin-top: 2rem;
    margin-left: 65rem;
    border-bottom-style: solid;
    border-color: rgba(77, 77, 77, 0.795); 
    align-items: center;
    width: 20rem;
    
}

.title-cont img{
    width: 2rem;
    padding-left: 10rem;
}

.title-cont h4{
    font-size: 25px;
    font-weight: 400;
}

#first-name{
    margin-right: 5rem;
}

#last-name{
    margin-left: 5rem;
}

button{
    margin-top: 5rem;
    margin-left: 7rem;
    padding: 0.7rem;
    width: 10rem;
    background-color: #ff5e8eea;
    border-style: none;
    border-color: rgb(114, 114, 114);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

button:hover{
    cursor: grab;
}

#design-thought{
    margin-left: 63.5rem;
    margin-bottom: 5rem;
    margin-top: 15rem;
    width: 20rem;
    padding: 2rem;
    border-bottom-style: solid;
    border-color: #5f46ffbe;

}

#css-thought{
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 15rem;
    padding: 2rem;
    border-bottom-style: solid;
    border-color: #5f46ffbe;

}

.css-cont{
    margin-top: 15rem;
    margin-left: 5rem;
}

.css-cont img{
    width: 70%;
    
}

.javascript-cont{
    margin-bottom: 10rem;
    margin-top: 15rem;
}

#calc-img-cont img{
    width:70%;
    margin-left: 5rem;
}

#javascript-thought{
    margin-left: 70rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 15rem;
    padding: 2rem;
    border-right-style: solid;
    border-color: #5f46ffbe;

}

.design-link{
    margin-top: 30rem;
    margin-bottom: 5rem;
}




@media(max-width: 1100px){

    body{
        max-width: 1100px;
    }

    
    .frontpage-img-cont img{
     
        width: 20rem;
        z-index: 2;
        position: relative;
        margin-left: 15rem;
       
    }

    .frontpage-text-cont{
          z-index: 3;
          position: absolute;
    }


    .frontpage-cont{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 5rem;
        margin-left: 3rem;
      
    }


   #kahoot-img-cont img {
        width: 80%;
        height: 80%;
        margin-right: 10rem;
       
       
    
    } 

    .css-cont{

        margin-left: 2.5rem;
    }

    .css-cont img{
        width: 35rem;
        margin-left: 2rem;
        margin-right: 70rem;
       
    }
   
    .title-cont{
        margin-left: 17rem;
        margin-top: 1rem;
    }

    .title-cont img{
        width: 1.6rem;

    }

    .title-cont h4{
        font-size: 22px;
        font-weight: 400;
        margin-left: 2rem;
    }


    #design-thought{
        display: none;
    
    }

   
    #javascript-thought{
       display: none;
    }


    #calc-img-cont img{
        width:35rem;
        margin-left: 5rem;
    }

    #css-thought{
        display: none;
    
    }

    #about-me{
        margin-top: 10rem;
        margin-left: 5rem;
        width: 30rem;
        border-left-style: none;
        padding: 2rem;
        border-color: #5f46ffbe;
        color: rgba(146, 145, 145, 0.795);
        font-size: 30px;
        font-weight: 400;
    }


    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
       /* background-image: linear-gradient(transparent,rgba(66, 162, 181, 0.288), transparent );
      /*  background-color: rgba(63, 137, 197, 0.288);*/
      /*  border-left-style: solid; */
      /*  background-color: blueviolet; */
        animation-name: color;
        animation-duration: 0.5s;
        position: absolute;
        height: 40rem;
        width: 4rem;
        padding: 10px;
        left:-90px;
        z-index: 3;
        margin-top: 5rem;
    
        
      }

    


      .menu li{
        font-size: 20px;
        margin-bottom: 1rem;
        margin-left: 3rem;
        
    
    }

    .design-link{

        margin-top: 45rem;
        margin-bottom: 0rem;
        
     }
        
        
    }

    
  




@media(max-width: 600px){

    body{
        max-width: 600px;
    }

    .frontpage-img-cont img{
        display: none;
       
    }

    .frontpage-text-cont{
          z-index: 3;
          position: absolute;
    }

    .frontpage-text-cont h1{
        font-size: 90px;
    }

    .frontpage-text-cont{
        z-index: 3;
        position: relative;
        left: 10rem;
  }

  

    .frontpage-cont{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 5rem;
        margin-left: 3rem;
      
    }

    #first-name{
        margin-left: 0.5rem;
    }
    
    #last-name{
        margin-left: 0px;
    }


    .frontpage-text-cont h3{

       margin-right: 9rem;
   }


    #calc-img-cont img{
        width:25rem;
        margin-left: 0px;
    }

    .css-cont{
        margin-left: 0px;
    }

    .css-cont img{
        width: 25rem;
        margin-left: 0px;
        
    
    }


    .title-cont{
        margin-left: 10rem;
        margin-top: 1rem;
        width: 15rem;
        border-color: rgba(103, 83, 122, 0.482);
        color: rgba(0, 0, 0, 0.663);
    }

    .title-cont img{
        width: 2rem;
        padding-left: 2rem;
    }

 


    #about-me{
        margin-top: 1rem;
        margin-left: 1.2rem;
        width: 23rem;
        border-left-style: none;
        padding: 2rem;
        border-color: #5f46ffbe;
        color: rgba(146, 145, 145, 0.795);
        font-size: 30px;
        font-weight: 400;
    }

    button{
        margin-top: 1rem;
        margin-left: 8rem;
        padding: 0.7rem;
        width: 10rem;
    }

    .javascript-cont, .css-cont, .design-cont{

        margin-top: 7rem;
    }

    


    
    #kahoot-img-cont img {
        width: 80%;
        height: 80%;
        margin-bottom: 50rem;
     }




     .menu-wrap{

        visibility: hidden;
     }

     nav ul{
        visibility: visible;
        display: flex;
        justify-content:left;
        font-family: 'EB Garmond';
        margin-right: 10rem;
     }

     .menu li{
        font-size: 18px;
        margin-bottom: 1rem;
        margin-right: 0.1rem;
        
        
        
    }
     

  



}

@media(max-width: 600px){

    body{
        margin-right: 5rem;
        max-width: 600px;
        
    }

    nav{

        text-align: right;


    }

    #about-me{

        margin-right: 2rem;
        margin-left: 0.2rem;
    }

   #kahoot-img-cont {
        width: 15rem;
        height: 30rem;
        left: 10rem;
        top: 60rem;
       
     
       
       }

    .design-link{

        margin-top: 30rem;
        margin-bottom: 0rem;
        
     }

     .menu ul{
        margin-left: 5rem;
        margin-right: 5rem;
     }

   


   
}


@media( max-width: 500px){

    body{
        max-width: 350px;
        overflow-x: hidden;
       
    }

    .menu ul{
        margin-left: 15rem;
        margin-right: 0rem;
     }

    

     .menu li{
        margin-left: 1rem;
     }

     .middle-div{

      margin-right: 5rem;
      width: 80%;

}

button{
    margin-right: 5rem;
}

.frontpage-text-cont{

    margin-left: 5rem;

}

#about-me{
    margin-left: 3rem;
}

}