


body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 2rem;
}

p{
    font-size: 20px;
    color: #0f0928;
}


nav{
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 0;
}



.menu-wrap{
    margin-right: 1rem;
    display: flex;
    justify-content: end;
    position: absolute;
}

.menu-wrap .hamburger > div {
    position: absolute;
    width: 2rem;
    height: 2px;
    background: rgb(223, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 1;
    right: 10px;
    
    
    
    
  }

.menu-wrap .menu{
    visibility: hidden;
    
}

.menu-wrap .toggler {
    position: absolute;
    top: -25px;
    right: -20;
    z-index: 4;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

}
  



.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
   /* background-image: linear-gradient(transparent,rgba(66, 162, 181, 0.288), transparent );
  /*  background-color: rgba(63, 137, 197, 0.288);*/
    border-left-style: solid;
    border-color: rgba(63, 137, 197, 0.541);
    animation-name: color;
    animation-duration: 0.5s;
    position: absolute;
    height: 40rem;
    width: 8rem;
    padding: 10px;
    left:-90px;
    z-index: 3;
    margin-top: 5rem;
    
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 1s;
  }

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*.menu-wrap.active{
    background-color: turquoise;
    animation-name: color;
    animation-duration: 0.5s;
}*/

@keyframes color{
    0% {
        opacity: 0;
        transform: translateX(50%);
        
        

      }
    100%  {
        opacity: 1;
        transform: translateX(0);
        
        
      }
    
    }


.menu ul{
    list-style: none;
}

.menu li{
    font-size: 23px;
    margin-bottom: 1rem;
    
    
}

.menu a{
    text-decoration: none;
    color:rgb(83, 83, 83);
     
}

.menu > div{
    display: flex;
    justify-content: center;
    margin-right: 1.7rem;
}

.frontpage-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-left: 5rem;
}

.H1-cont{
    margin-top: 4rem;
    margin-right: 5rem;
}

.frontpage-text-cont h1{
    font-family: 'EB Garamond', serif;
    font-size: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}
.frontpage-text-cont h3{
    display: none;
    font-family: 'Alex Brush', cursive;
    font-size: 3rem;
    text-align: center;
    color: rgb(83, 83, 83);
}

.frontpage-text-cont h3.active{
    display: block;
}

#about-me{
    margin-top: 5rem;
    margin-left: 5rem;
    width: 30rem;
    border-left-style: solid;
    padding: 2rem;
    border-color: #5f46ffbe;
    color: rgba(146, 145, 145, 0.795);
    font-size: 30px;
    font-weight: 400;
}

.design-cont{
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-bottom: 2rem;
}

#streaming-img-cont img{
    position:relative;
    width: 70%;
    margin-left: 20rem;
   

}


#kahoot-img-cont img{
    display: block;
    
    width: 50%;
    
    margin-left: 5rem;
    filter: drop-shadow(2px 3px 3px #d6d6e0);
    
   
}

#streaming-img-cont{
    transform: translateX(0);
}


#kahoot-img-cont{
    position: absolute;
    top: 90rem;
    
    
}

.a-right{
    animation-name:right;
    animation-duration: 2s;
    transition: 3s ease-in;
    
}

@keyframes right{
    0% {
        opacity: 0;
        transform: translateX(-50%);
        

      }
    100%  {
        opacity: 1;
        transform: translateX(0);
        
      }
    
    }





.a-left {
    animation-name: left;
    animation-duration: 2s;
    transition: 3s ease-in;
    
}

@keyframes left{
    0% {
        opacity: 0;
        transform: translateX(50%);
        

      }
    100%  {
        opacity: 1;
        transform: translateX(0);
        
      }
    
    }

.title-cont{
    display: flex;
    margin-top: 2rem;
    margin-left: 65rem;
    border-bottom-style: solid;
    border-color: rgba(77, 77, 77, 0.795); 
    align-items: center;
    width: 20rem;
    
}

.title-cont img{
    width: 2rem;
    padding-left: 10rem;
}

.title-cont h4{
    font-size: 25px;
    font-weight: 400;
}

#first-name{
    margin-right: 5rem;
}

#last-name{
    margin-left: 5rem;
}

button{
    margin-top: 5rem;
    margin-left: 7rem;
    padding: 0.7rem;
    width: 10rem;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(114, 114, 114);
    border-radius: 5px;
    font-size: 16px;
}

button:hover{
    cursor: grab;
}

#design-thought{
    margin-left: 63.5rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
    width: 20rem;
    padding: 2rem;
    border-bottom-style: solid;
    border-color: #5f46ffbe;

}

#css-thought{
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 15rem;
    padding: 2rem;
    border-bottom-style: solid;
    border-color: #5f46ffbe;

}

.css-cont{
    margin-top: 15rem;
}

.css-cont img{
    width: 100%;
    
}

.javascript-cont{
    margin-bottom: 10rem;
    margin-top: 15rem;
}

#calc-img-cont img{
    width:70%;
    margin-left: 5rem;
}

#javascript-thought{
    margin-left: 70rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 15rem;
    padding: 2rem;
    border-right-style: solid;
    border-color: #5f46ffbe;

}

.design-link{
    margin-top: 10rem;
}




