
body{
  font-family: 'Roboto', sans-serif;;
}


nav{
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    
}

.arrow{
  width: 2rem;
  margin-top: 1rem;
}



.menu-wrap{
    margin-right: 1rem;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 5px;
    margin-top: 1.5rem;
  
}

.menu-wrap .hamburger > div {
    position: absolute;
    width: 2rem;
    height: 2px;
    background: rgb(223, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 1;
    right: 5px;
    margin-right: 1.5rem;
    
    
    
    
  }

.menu-wrap .menu{
    visibility: hidden;
    
}

.menu-wrap .toggler {
    position: absolute;
    top: -25px;
    right: -20;
    z-index: 4;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

}
  



.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
   /* background-image: linear-gradient(transparent,rgba(66, 162, 181, 0.288), transparent );
  /*  background-color: rgba(63, 137, 197, 0.288);*/
    border-left-style: solid;
    border-color: rgba(63, 137, 197, 0.541);
    animation-name: color;
    animation-duration: 0.5s;
    position: absolute;
    height: 40rem;
    width: 8rem;
    padding: 10px;
    left:-90px;
    z-index: 3;
    margin-top: 5rem;
    
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 1s;
  }

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*.menu-wrap.active{
    background-color: turquoise;
    animation-name: color;
    animation-duration: 0.5s;
}*/

@keyframes color{
    0% {
        opacity: 0;
        transform: translateX(50%);
        
        

      }
    100%  {
        opacity: 1;
        transform: translateX(0);
        
        
      }
    
    }


.menu ul{
    list-style: none;
}

.menu li{
    font-size: 23px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    
    
}

.menu a{
    text-decoration: none;
    color:rgb(83, 83, 83);
     
}

.menu > div{
    display: flex;
    justify-content: center;
    margin-right: 1.7rem;
}


.cv-container{
  width: 70%;
  margin: auto;
  margin-top: 10rem;
}