body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;


}

nav img{
    width: 2rem;
}


.top-section{
    padding: 2rem;
    max-width: 100% ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.5fr 0.5fr;
}

#box1{
    grid-column: 1;
    grid-row: 1;
}

#box2{
    margin-top: 3rem;
    grid-column: 2;
    grid-row: 1;
}

#box3{
    grid-column: 1;
    grid-row: 2;
}

#box3 img{
    width: 80%;
    margin-top: 3rem;
    margin-left: 5rem;
}

.list-cont{
    display: flex;
    margin-left: 3rem;
}

.list-cont img{
    width: 2rem;
}




h1{
    margin-left: 20rem;
    margin-bottom: 5rem;
    font-size: 50px;
    margin-top: 2rem;
}

h3{
    margin-left: 2rem;

}

p{
    color: rgb(80, 79, 79);
    line-height: 1.5rem;
    width: 75%;
    margin-left:6rem;

}

ul{
    width: 70%;
    margin-left: 5rem;
}

li{
    color: rgb(80, 79, 79);
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}
