
body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;


}

nav img{
    width: 2rem;
}


.top-section{
    margin-top: 5rem;
    padding: 1rem;
    max-width: 100% ;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr ;
    grid-template-rows: 0.2fr 0.2fr;
    z-index: 2;
  

}

.top-section-background{

    height: 35rem;
    background-color:  #6c6ea8;
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 15rem;
    


}

#box1{
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    width: 60%;
}

#box2{
    grid-column: 2;
    grid-row: 1;
    margin-top: 20rem;
    z-index: 2;
}

.info-p{
    color: white ;

    /*rgb(83, 83, 83)*/
}

#box3{
   /* grid-column: 1;
    grid-row: 2;*/
    margin-top: 10rem;
    margin-bottom: 20rem;
}

#box1 img{
    width: 80%;
    margin-top: 3rem;
    margin-left: 5rem;
}

.list-cont{
    display: flex;
    margin-left: 3rem;
}

.list-cont img{
    width: 2rem;
}




h1{
    margin-left: 9rem;
    margin-bottom: 5rem;
    font-size: 3em;
    margin-top: 2rem;
    color: #2e2f4b;
}

h3{
    margin-left: 2rem;

}

p{
    color: rgb(80, 79, 79);
    line-height: 1.5rem;
    width: 75%;
    margin-left:6rem;

}

ul{
    width: 70%;
    margin-left: 5rem;
}

li{
    color: rgb(80, 79, 79);
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

/* SKETCH-SECTION*/

h2{
   margin-bottom: 10rem;
   margin-left: 10rem;
   margin-top: 5rem;
   font-size: 30px;
}

.sketch-cont{
    display: flex;
    margin-bottom: 20rem;
    margin-left: 10rem;
   
}

.sketch-img-cont img{
    position: absolute;
    width: 20rem;
   
    
}

#skisse1{
    z-index: 4;
    margin-left: 20rem;
    margin-top: 6rem;
}

#skisse2{
    z-index: 3;
    margin-top: 10rem;
    margin-left: 2rem;
    bottom:30;
}

#skisse3{
    z-index: 0;
    margin-top: 5rem;
}

#skisse4{
    z-index: 1;
    margin-left: 10rem;
    margin-bottom: 50rem;
}

.sketch-text-cont{
    margin-left: 50rem;
    padding-right: 3rem;
}

.sketch-text-cont h3{
    margin-left: 6rem;
}

/*WIREFRAME-SECTION */

.wireframe-cont{
    display:flex;
    margin-top: 50rem;
    background-color:  #6c6ea8;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.wireframe-img-cont img{  
    width: 90%
}

.wireframe-text-cont{
    width: 70%;
    margin-right: 10rem;
    
}

.wireframe-text-cont h3{
    margin-left: 6rem;
    margin-bottom: 5rem;
    color: white;
}

.wireframe-text-cont p{
  color: white;
}

/*PROTOTYPE-SECTION*/


.prototype-cont{
    display:flex;
    margin-top: 20rem;
}

.prototype-img-cont img{  
    width: 90%;
    margin-left: 5rem;
}

.prototype-text-cont{
    width: 70%;
    margin-right: 9rem;
    margin-left: 5rem;
    
}

.prototype-text-cont a{
    margin-left: 6rem;
    color: rgb(78, 78, 78);
    font-weight: bold;
    font-size: 18px;
}

.prototype-text-cont a:hover{
    color: black;
}

.prototype-text-cont p{
    margin-bottom: 3rem;
}

.prototype-text-cont h3{
    margin-left: 6rem;
    margin-bottom: 3rem;
}


